button {
  background: rgba(63, 191, 165, 1);
  color: white;
  border: none;
  padding: .2rem;
  margin-top: .3rem;
  cursor: pointer;
}

button:active {
  background: rgba(63, 191, 165, .7);
}

input {
  border-width: 0 0 1px 0;
  border-color: rgba(63, 191, 165, .2);
  width: 150px;
  background: white;
}

input:focus {
  border-color: rgba(63, 191, 165, 1);
}

input[type=submit] {
  background: rgba(63, 191, 165, 1);
  color: white;
  border: none;
  padding: .2rem;
  margin-top: .3rem;
}

input[type=submit]:active {
  background: rgba(63, 191, 165, .7);
}

button:focus,
input:focus {
  outline: none;
}

.blog-container {
  margin: 2rem 0;
  width: 50%;
}

.blog {
  /*background: rgba(244, 200, 0, 1);*/
  color: rgba(36, 25, 12, .9);
  box-shadow: 0 0 3px rgba(36, 25, 12, .2);
  padding: .1rem;
  margin-top: .5rem;
  cursor: pointer;
}

.blog-info {
  margin: .3rem;
}

.message {
  background: #EEE;
  padding: 1rem;
}

.cancel-button {
  margin-left: 3.3rem;
  padding: .2rem 1.2rem;
}
