@import url('https://fonts.googleapis.com/css?family=Pacifico');

.title {
  font-family: 'Pacifico', cursive !important;
  font-size: 2.5rem !important;
}

div.card {
  min-width: 300px !important;
}

a {
  color: #1b1c1d;
}

a:hover,
a:focus,
a:active {
  color: #27292a;
}

a.username,
a.website {
  color: rgba(0, 182, 173, 1);
}

a.username:hover,
a.website:hover,
a.username:active,
a.website:active,
a.username:focus,
a.website:focus {
  color: #009c95;
}


div.header {
  color: rgba(0, 182, 173, 1) !important;
}

button {
  background: rgba(0, 182, 173, 1);
  color: white;
  border: none;
  border-radius: 3px;
  padding: .2rem;
  margin-top: .3rem;
  cursor: pointer;
  padding: .6rem;
}

button:active {
  background: #009c95;
}

input {
  border-width: 0 0 1px 0;
  border-color: rgba(0, 182, 173, .5);
  width: 200px;
  background: white;
}

input:focus {
  border-color: rgba(0, 182, 173, 1);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 10px white inset;
}

input[type=submit] {
  background: rgba(0, 182, 173, 1);
  color: white;
  border: none;
  border-radius: 3px;
  padding: .2rem;
  margin-top: .3rem;
  cursor: pointer;
}

input[type=submit]:active {
  background: #009c95;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  margin: 2rem;
}

.blog-container {
  margin: 2rem 0;
  width: 50%;
}

.blog {
  /*background: rgba(244, 200, 0, 1);*/
  color: rgba(36, 25, 12, .9);
  box-shadow: 0 0 3px rgba(36, 25, 12, .2);
  padding: .1rem;
  margin-top: .5rem;
  cursor: pointer;
}

.blog-info {
  margin: .3rem;
}

.cancel-button {
  background: #1b1c1d;
  margin-left: 3.67rem;
  padding: .2rem 1.2rem;
}

.cancel-button:hover,
.cancel-button:focus,
.cancel-button:active {
  background: #27292a;
}

.username {
  text-transform: capitalize;
}

h4.ui.teal.header:hover {
  color: #009c95 !important;
}

h4.ui.teal.header:focus,
h4.ui.teal.header:active {
  color: rgb(0, 138, 131) !important;
}
